<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Code</key>
		<string>BM</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>BusinessMate</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>JF</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>JobFlow</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>AT</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>Attendence</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>SM</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>SalaryManage</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>HR</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>HumanResource</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>PF</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>Performance</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>MS</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>MySchedule</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>NF</string>
		<key>status</key>
		<true/>
		<key>ModuleName</key>
		<string>Notification</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>DP</string>
		<key>status</key>
		<false/>
		<key>ModuleName</key>
		<string>DailyPresentation</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>OM</string>
		<key>status</key>
		<false/>
		<key>ModuleName</key>
		<string>OtherModule</string>
	</dict>
</array>
</plist>
